.compare-message{
    position: absolute;
    top: 50%;
    border: 1px solid rgba(0, 0, 0, 0.35);
    background: #fff;
    padding: 5px;
    z-index: 10;
    border-radius: 5px;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
}
.compare-list, .desire-list{
    position: relative;
}
.compare-group table{
    border-collapse: collapse;
    width: 100%;
}
.compare-group table td{
    border: 1px black solid;
    padding: 10px;
}
.compare-group table .tv-group-wrap{
    text-align: center;
}
.actions-wrap.hide{
    display: none;
}

/*vertical layout*/
.vertical-layout .compare-item{
    width: 25%;
    display: inline-block;
}